body {
  text-align: center;
}

.message-list {
  background-color: #FFF0A5;
  padding: 20px;
}

h1 {
  color: #FFB03B;
}
.post {
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  color: #468966;
}
.topnav {
  background-color: white;
  overflow: hidden;
  color: black;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 40%;
}
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
  background-color: black;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
img {
  width: 80%;
  padding-bottom: 5%;
  padding-top: 5%;

}
